/* Animations for Column Content */
.column-content {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.column-content.animate {
    opacity: 1;
    transform: translateX(0);
}

.visual-column {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visual-column.animate {
    opacity: 1;
    transform: translateX(0);
}
